#include <Windows.h>
MAINICON	Icon		"..\\..\\data\\gdserverico.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	5,12,0,0
PRODUCTVERSION 	5,12,0,0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
			VALUE "CompanyName", "Game Hack Protector"
			VALUE "FileDescription", "GHP [Server]"
			VALUE "FileVersion", "5.12.0"
			VALUE "InternalName", "GHP [Server]"
			VALUE "LegalCopyright", "Game Hack Protector"
			VALUE "LegalTrademarks", "Game Hack Protector"
			VALUE "OriginalFilename", "GHPServer.exe"
			VALUE "ProductName", "GHPServer"
			VALUE "ProductVersion", "5.12.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
